/* Fonts */
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Regular.woff2") format("woff2") url("fonts/BasisGrotesquePro-Regular.woff") format("woff") url("fonts/BasisGrotesquePro-Regular.eot") format("embedded opentype") url("fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-display: fallback;
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Bold.woff2") format("woff2") url("fonts/BasisGrotesquePro-Bold.woff") format("woff") url("fonts/BasisGrotesquePro-Bold.eot") format("embedded opentype") url("fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: fallback;
}
@font-face {
  font-family: "Basis Grotesque Pro";
  src: url("fonts/BasisGrotesquePro-Light.woff2") format("woff2") url("fonts/BasisGrotesquePro-Light.woff") format("woff") url("fonts/BasisGrotesquePro-Light.eot") format("embedded opentype") url("fonts/BasisGrotesquePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-display: fallback;
}
/* Variables */
/* Other mixins */
/* Basics */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 400;
  letter-spacing: -0.03em;
  margin: 0 auto;
  min-width: 280px;
}

p {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  opacity: 1;
  color: #0536FC;
}

.grid--none {
  margin: 50px auto 0;
  width: 90%;
}

/* Heading */
.heading__subtitle {
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 700;
  letter-spacing: -0.03em;
  margin: 0;
}

.heading__subtitle--blue {
  color: #0536FC;
  opacity: 0.9;
}

.heading__title {
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 30px;
  line-height: 34px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 70px;
}

.heading__inscription {
  opacity: 0.35;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 300;
  letter-spacing: -0.03em;
}

/* Flex / container */
.container {
  display: flex;
}

.container--align {
  align-items: center;
  padding-bottom: 20px;
}

.container--wrapped {
  flex-wrap: wrap;
}

.container--bottom-margin {
  margin-bottom: 30px;
}

.container--bottom-margin-mobile {
  margin-bottom: 30px;
}

.container--top-margin-l {
  margin-top: 50px;
}

.container--top-margin-m {
  margin-top: 30px;
}

.container--top-margin-s {
  margin-top: 20px;
}

/*Q&A*/
.qanda__q {
  padding: 30px 30px 30px 0;
  margin: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  background: url(img/Rectangle\ 81.svg);
  background-repeat: no-repeat;
  background-position: right top 36px;
}

.qanda__a {
  opacity: 0.6;
  line-height: 24px;
  padding-bottom: 30px;
  margin: 0;
}

.qanda--collapsed .qanda__q {
  background: url(img/Group\ 221.svg);
  background-repeat: no-repeat;
  background-position: right top 36px;
}
.qanda--collapsed .qanda__a {
  display: none;
}

/*Form*/
.form__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 16px;
  line-height: 24px;
}
.form__input:focus {
  outline: none;
}
.form__input::-moz-placeholder {
  opacity: 0.35;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 300;
  letter-spacing: -0.03em;
}
.form__input:-ms-input-placeholder {
  opacity: 0.35;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 300;
  letter-spacing: -0.03em;
}
.form__input::placeholder {
  opacity: 0.35;
  font-family: "Basis Grotesque Pro", system-ui;
  font-weight: 300;
  letter-spacing: -0.03em;
}

.form__input--radio {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.form__input--radio:checked {
  background: url(img/Ellipse\ 19.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form__label {
  opacity: 0.6;
  margin-right: 15px;
}

.form__label--users-data {
  display: block;
  font-weight: 700;
  margin: 0;
}

.form__input--underlined {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  width: 100%;
  margin-top: 20px;
}

.form__input--checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.form__input--checkbox:checked {
  background: url(img/Vector\ 39.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Payment amount */
.payment-amount__label {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 400;
  width: 25%;
  height: 50px;
  padding-top: 13px;
  border-left: none;
}

.payment-amount__label--left-border {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

input:checked + .payment-amount__label {
  background-color: #0536FC;
  color: #fff;
}

.payment-amount__input {
  border-top: none;
  width: 100%;
  height: 50px;
  padding-left: 35px;
}

/* Button */
.button {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: 400;
}

.button--submit {
  padding: 15px 60px;
  height: 55px;
  background-color: #0536FC;
  color: #fff;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .grid--none {
    width: 80%;
  }
  .form__input--underlined {
    max-width: 500px;
  }
  /* Heading */
  .heading__title {
    font-size: 38px;
    line-height: 42px;
  }
}
/* LARGE SCREENS */
@media screen and (min-width: 1200px) {
  /* Grid */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 150px 0 0 14.5%;
  }
  .grid__heading {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .grid__qanda {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid__form-heading {
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 0;
  }
  .grid__form {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .grid--none {
    margin: 0;
    width: 100%;
  }
  /* Container */
  .container--bottom-margin-mobile {
    margin-bottom: 0;
  }
  /* Heading */
  .heading__title {
    font-size: 38px;
    line-height: 42px;
  }
  /* Q&A */    
  .qanda {
    max-width: 456px;
  }
  .qanda__a {
    padding-bottom: 70px;
  }
  .qanda__q {
    padding: 30px 0 70px;
  }
  /* Form */
  .payment-amount {
    max-width: 635px;
  }
  .form__input--underlined {
    width: 66%;
    max-width: 480px;
  }
}/*# sourceMappingURL=w6.1.css.map */